<div class="banner_part" id="aboutid">
    <div class="container">
        <div class="about_heading">
            <h1>About Us</h1>
            <p class="p-text">
                expand your business with us.
            </p>
        </div>
        <div class="main_contant_of_banner">
            <div class="illustration_part_of_about">
                <figure>
                    <img src="images/code-review.png" alt="code pic" width="100%" />
                </figure>
            </div>
            <div class="discription_part_of_about">
                <h1 class="text-weight padd">We are the team of professional developer✨</h1>
                <p class="p-text">Welcome to <span class="bold">TechEra</span>. We are your special partner
                    to provide any kind of tech related solution. We provide various services like
                    web development, web hosting, software development and many more.</p>
                <button class="btn">Read More</button>
            </div>
        </div>
    </div>
</div>