<div class="banner_part">
    <div class="container">
        <div class="about_heading">
            <h1>Contact us</h1>
            <p class="p-text">
                We will be happy to help you.
            </p>
        </div>
        <div class="main_contant_of_contact">
            <form class="form" action="/contact" method="POST">
                <label>Name</label>
                <br />
                <input type="text" class="input-field" placeholder="enter your name..." name="name" />
                <br />

                <label>Email</label>
                <br />
                <input type="text" class="input-field" placeholder="enter your email..." name="email" />
                <br />

                <label>Phone</label>
                <br />
                <input type="number" class="input-field" placeholder="enter your phone..." name="phone" />
                <br />

                <label>Address</label>
                <br />
                <input type="text" class="input-field" placeholder="enter your address..." name="address" />
                <br />

                <label>Message</label>
                <br />
                <input type="text" class="input-field" placeholder="enter your message..." name="message" />
                <br />

                <button type="submit" class="btn">submit</button>
            </form>
        </div>
    </div>
</div>