<div class="banner_part">
    <div class="container">
        <div class="about_heading">
            <h1>Our Services</h1>
            <p class="p-text">
                expand your business with us.
            </p>
        </div>
        <div class="main_contant_of_banner">
            <div class="card">
                <div class="icon">
                    <i class="fas fa-cogs"></i>
                </div>
                <h4>setting</h4>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
            </div>
            <div class="card">
                <div class="icon">
                    <i class="fa fa-database" aria-hidden="true"></i>
                </div>
                <h4>database</h4>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
            </div>
            <div class="card">
                <div class="icon">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                </div>
                <h4>security</h4>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
            </div>
        </div>
    </div>